:root {
  --heading-font: "Anton", "sans-serif";
  --default-font: "quicksand";
  --default-color: #b9b9d1;
  --accent-color: #f89ac0;
}

body {
  background: #ffff;
  color: var(--default-color);
  font-family: var(--default-font);
}

.navbar.navbar-expand-lg.navbar-light li a {
  color: #ffff;
}

.navbar.navbar-expand-lg.navbar-light li a:hover {
  color: var(--accent-color);
}

.navbar-brand {
  color: var(--default-color) !important;
}

#about-nav {
  opacity: 80%;
}

.about-hero .navbar.navbar-expand-lg.navbar-light li a {
  color: #85B88A;
}

.about-hero .navbar-brand {
  color: #D40206 !important;
}

.hero {
  background: #ede3e7;
  color: #ffff;
  margin: 0;
}

.about-hero {
  background-image: url(/images/background.png);
}

h1 {
  font-family: var(--heading-font);
  font-size: 64px;
  color: var(--accent-color);
  margin-left: 15px;
}

.hero p {
  margin-left: 15px;
}

.btn-branding {
  background: var(--accent-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: #ffff;
  background: #f2c4d8;
  cursor: pointer;
}

#heart-accent {
  color: #f89ac0;
  opacity: 50%;
}

#project-head {
  font-family: var(--heading-font);
  font-size: 50px;
}

#selfie-main-edit {
  margin: 15px 0 20px 30px;
  border: 15px double #f3f4f5;
  width: 345px;
}

.project-description p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.timestamp {
  opacity: 40%;
  color: var(--accent-color);
}

.btn-branding-outline {
  color: #ffff;
  background: var(--default-color);
  border: 1px solid var(--default-color);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: #ede3e7;
  color: #ffff;
  border: #ede3e7;
  cursor: pointer;
}

.fas {
  color: var(--accent-color);
  margin-left: 10px;
}

.api-icon {
  background: white;
  border: white;
}

.api-icon:hover {
  opacity: 30%;
}

.aboutMeHeading {
  text-align: center;
  font-family: var(--heading-font);
  color: #ffff;
  padding: 15px;
}

i {
  transition: all 100ms ease-in-out;
}

.far {
  color: var(--accent-color);
}

#icon-section a {
  text-decoration: none;
}

#social-icons {
  display: inline-block;
  color: #ffff;
  font-size: 25px;
  margin: 10px;
  padding: 15px;
  background: var(--accent-color);
  opacity: 40%;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

#social-icons:hover {
  color: #b9b9d1;
  background: #ede3e7;
  border: #ede3e7;
}

#hero-about img {
  width: 350px;
}

#selfie-one {
  float: right;
  border: 15px dotted #ffff;
}

#selfie-two {
  border: 15px dotted #ffff;
}

.fa-arrow-down {
  color: #ffff;
}

.fa-arrow-down:hover {
  color: #D40206;
  cursor: pointer;
}
