:root {
  --heading-font:  "Anton", "sans-serif";
  --default-font:  "quicksand";
  --default-color: #B9B9D1;
  --accent-color: #f89ac0;
}

body {
  background: #ffff;
  color: var(--default-color);
  font-family: var(--default-font);
}

.navbar.navbar-expand-lg.navbar-light li a {
  color: #ffff;
}

.navbar.navbar-expand-lg.navbar-light li a:hover {
  color: var(--accent-color);
}


.navbar-brand {
  color: var(--default-color) !important;
}

h1 {
  font-family: var(--heading-font);
  font-size: 64px;
  color: var(--accent-color);
}

.hero {
  background: #ede3e7;
  color: #ffff;
  margin: 0;
}

.btn-branding {
  background: var(--accent-color);
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding:hover {
  color: #ffff;
  background: #f2c4d8;
  cursor: pointer;
}

#project-head {
  font-family: var(--heading-font);
  font-size: 50px;
}

.project-description p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.timestamp {
  opacity: 40%;
  color: var(--accent-color);
}

.btn-branding-outline {
  color: #ffff;
  background: var(--default-color);
  border: 1px solid var(--default-color);
  border-radius: 4px;
  font-size: 18px;
  font-weight: 900;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline:hover {
  background: #ede3e7;
  color: #ffff;
  border: #ede3e7;
  cursor: pointer;
}

.fas {
  color: var(--accent-color);
  margin-left: 10px;
}

.fab {
  color: var(--accent-color);
  display: inline-block;
}

.api-icon {
  background: white;
  border: white;
}

.api-icon:hover {
  opacity: 30%;
}

.icon-text {
  font-size: 20px;
}

.aboutMeHeading {
  text-align: center;
  font-family: var(--heading-font);
  color: var(--accent-color);
}

i {
  transition: all 100ms ease-in-out;
}

.far {
  color: var(--accent-color);
}


i:hover {
  color: #ede3e7;
}

#icon-section a {
  text-decoration: none;
}

#social-icons {
  margin: 15px;
}



#hero-about img {
  width: 350px;
}

#selfie-one {
  float: right;
}

.fa-arrow-down {
  color: #ffff;
}

.fa-arrow-down:hover {
  color: #f2c4d8;
  cursor: pointer;
}